<section class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(question, data: { behavior: "autosave" }, html: { class: "form-horizontal" } ) do |f| %>

      <!-- stupid error box - to be refactored out -->
        <% if question.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(question.errors.count, "error") %> prohibited this question from being saved:</h2>

            <ul>
            <% question.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>


        <div class="form-group">
          <%= f.label :title, "Overskrift:" %>
          <%= f.text_field :title, placeholder: "Opsummer dit spørgsmål", class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :body, "Dit spørgsmål:" %>
          <%= f.text_area :body, placeholder: "Beskriv dit spørgsmål...", class: "form-control", rows: "5" %>
        </div>

        <div class="form-group">
          <%= f.submit "Gem", class: "btn btn-default" %>
        </div>      
      </div>
    <% end %>
  </div>
</section>