<h1 class="text-center">Nyeste Spørgsmål</h1>

<table class="table table-responsive table-hover">

  <% @questions.each do |question| %>
    <tr>
    	<td><span class="badge"><%= "#{question.answers.size}" %></span></td>
      <td><%= link_to question.title, question, class: "question-index" %></td>
    </tr>
  <% end %>
</table>

<br>

<%= link_to 'Stil et spørgsmål', new_question_path, class: "btn btn-success btn-lg btn-block" %>
