<section>
  <h1>
  	<%= @question.title %>
  </h1>
	

<hr>

<section class="row">
	<article class="question col-md-9">
	  <%= simple_format @question.body %>
	</article>

	<aside class="col-md-3">
		<%= creation_time(@question) %>
	</aside>
</section>

<hr>

<section class="answers">
	<h2>
		<%= @question.answers.count %> svar
	</h2>

	<%= render @question.answers %>
</section>

<!-- if user is logged in show answer form, 
			otherwise show ask for a log in -->

<% if user_signed_in? %>

	<!--  answer form -->
	<section id="submit-answer">
		<h2>
			Dit svar:
		</h2>
		<%= form_for [@question, @answer], html: { class: "form-horizontal col-sm-8" } do |f| %>
			
			<div class="form-group">
				<%= f.text_area :body, placeholder: "Skriv dit svar her...", class: "form-control", rows: "4" %>
			</div>

			<div class="form-group">
				<%= f.submit "Svar", class: "btn btn-primary" %>
			</div>
		
		<% end %>
	</section> 

<% else %>

	<section class="form-group form-inline">
	<h3>
		Log ind for at svare
	</h3>
	
	<%= form_for(:user, :url => session_path(:user)) do |f| %>
	  <%= f.text_field :email, placeholder: "E-mail", class: "form-control" %>
	  <%= f.password_field :password, placeholder: "Password", class: "form-control" %>
	  <%= f.submit 'Log ind' %>
	  <%= link_to "Glemt password?", new_password_path(:user) %>
	<% end %>

	</section>
<% end %>
