<h2></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  
  <div class="field">
    <%= f.label "Navn" %><br>
    <%= f.text_field :name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label "Stilling/uddannelse" %><br>
    <%= f.text_field :occupation %>
  </div>

  <div class="field">
    <%= f.label "E-mail" %><br />
    <%= f.email_field :email %>
  </div>

  <div class="field">
    <%= f.label "Password" %>
    <% if @minimum_password_length %>
    <em>(Mindst <%= @minimum_password_length %> tegn)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label "Gentag password" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Opret mig!" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
