<nav class="navbar navbar-inverse">
<div class="container">
<div class="col-md-offset-2 col-md-8">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#topNavbar">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>                        
    </button>
    <%= link_to "SubModo", root_path, class: "navbar-brand" %>
  </div>
  <div class="collapse navbar-collapse" id="topNavbar">
    <ul class="nav navbar-nav">
      <li><%= link_to "Alle Spørgsmål", questions_path %></li>
      <li><%= link_to "Spørg", new_question_path %></li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <% unless user_signed_in? %>
        <li><%= link_to "Opret bruger", new_user_registration_path, class: "navbar-link" %></li>
        <li><%= link_to "Log Ind", new_user_session_path, class: "navbar-link" %></li>
      <% else %>
        <li><%= link_to "Profil", edit_user_registration_path, class: "navbar-link" %></li>
        <li><%= link_to "Log Ud", destroy_user_session_path, class: "navbar-link", method: :delete %></li>
      <% end %>

    </ul>
  </div>
  </div>
</div>
</nav>