<div class="row">
	<article class="col-md-9">
		<%= simple_format answer.body %>
	</article>
	<aside class="col-md-3">
		
		<div>
		<%= answer.user.name %>
		</div>

		<div>
		<%= answer.user.occupation %>
		</div>
		
		<div>
		<%= creation_time(answer) %>
		</div>	
	</aside>
</div>
<hr>