<h1 class="text-center">Spørgsmål og Svar</h1>
<hr>
<p class="lead">Svar på dine juridiske spørgsmål - helt anonymt og 100% gratis.</p>

<p>Her kan du få hjælp med alt lige fra førtidspension til virksomhedsstiftelse.
Bare stil et spørgsmål - og få svar og råd fra advokater, jurister og jurastuderende.
SubModo eksisterer kun for at give de <b>rigtige</b> svar.</p>

<p>Derfor er der ingen diskussioner eller meningsmålinger her.</p>

<p>Bare spørgsmål.</p>
<p>Og svar.</p>

<hr>

<p>De svar, råd og kommentarer, der findes på siden, er alene vejledende og kan ikke sidestilles med professionel rådgivning.<p>