
<h1 class="text-center">Ansvarsfraskrivelse</h1>

<hr>

<p class="lead">SubModo er et frivilligt projekt.</p>

<p>Vi har derfor meget ringe kapacitet til at kontrollere indlæggene på siden. 
Holdet bag SubModo indestår derfor på ingen måde for, at informationen på siden er korrekt. 
Ej heller har vi mulighed for at bekræfte brugernes identitet. 
Der stilles derfor ingen garanti for, at en bruger rent faktisk har de fornødne kompetencer til at 
besvare et spørgsmål korrekt eller fyldestgørende.</p>

<p>Alle brugerindlæg på siden er derfor i bedste fald vejledende,
og kan på ingen måde erstatte professionel rådgivning.
Disponér derfor aldrig alene ud fra informationen på SubModo.</p>

<p>Rådfør dig derfor altid med en erfaren og uvildig ekspert vedrørende dine juridiske spørgsmål.</p>
